<html>
  <h2 id="header">Codius Host at </h2>
  <p>This server is a Codius Host being run with <a href="https://github.com/codius/codiusd">codiusd.</a> If you want to upload a contract to this host, you may do so with the <a href="https://github.com/codius/codius">Codius CLI.</a></p>
  
  <p>For more information on Codius, visit <a href="https://codius.org">codius.org.</a></p>
  <table>
    <tr>
      <td>Server URI: </td>
      <td id="uri">{{ uri }}</td>
    </tr>
    <tr>
      <td>Number of Peers: </td>
      <td id="numPeers">{{ numPeers }}</td>
    </tr>
    <tr>
      <td>Server Uptime: </td>
      <td id="serverUptime">{{ serverUptime }}</td>
    </tr>
    <tr>
      <td>Service Uptime: </td>
      <td id="serviceUptime">{{ serviceUptime }}</td>
    </tr>
    <tr>
      <td>Average Load: </td>
      <td id="avgLoad">{{ avgLoad }}</td>
    </tr>
    <tr>
      <td>Currencies Accepted: </td>
      <td id="currency">{{ currency }}</td>
    </tr>
    <tr>
      <td>Monthly Hosting Rate: </td>
      <td id="costPerMonth">{{ costPerMonth }}</td>
    </tr>
    <tr>
      <td>Max Memory Used?</td>
      <td id="fullMem">{{ fullMem }}</td>
    </tr>
  </table>
  <p>Additional information about this Codius host can be found at these links:</p>
  <li><a href="/peers">Peers of this host (Random set of 1,000)</a></li>
  <li><a href="/version">Current running version of Codius</a></li>
</html>
